.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.banner {
  width: 23%;
  height: 500px;
  vertical-align: middle;
  background: url(../Image/delibird-temp-logo.png) no-repeat;
  overflow: hidden;
  display: inline-block;
}

.Home {
  text-align: center;
}
