.button-container {
  margin: 30px;
}

.button-pos {
  margin: 10px;
  width: 180px;
}

.box {
  width: 800px;
  height: 750px;
}

.btn-pose {
  font-weight: 500;
  width: 180px;
  margin: 10px;
}

.remove-button {
  margin-left: 15px;
}

.data-pose {
  margin: 10px;
}
.confirm-btn-pose {
  margin-top: 15px;
}
